// Buttons styles

.btn {
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  .mix-transition;
  .mix-fs(16);
  padding: 15px 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  // --

  &.btn--full {
    width: 100%;
  }

  &.btn--small {
    .mix-fs(14);
    padding: 10px 15px;
  }

  // --

  // &.btn--black {
  //   .mix-btn-color(
  //   @c-black,
  //   @c-black,
  //   @c-white,

  //   lighten(@c-black, 10%),
  //   lighten(@c-black, 10%),
  //   @c-white,
  //   );
  // }

  // --

  // &.btn--disabled {
  //   cursor: default;
  //   .mix-btn-color(
  //   #fff,
  //   #eee,
  //   #ccc,

  //   #fff,
  //   #eee,
  //   #ccc,
  //   );
  // }

}

